@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Volkhov:wght@400;700&display=swap'); */

body {
  font-family: 'Open Sans', sans-serif;
}

.debug {
  border: 1px solid red;
}

/* .volkhov {
  font-family: "Volkhov", sans-serif;
}  */